@import "tailwindcss";

@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter: "Inter", "ui-sans-serif", "sans-serif", "Arial";

  --breakpoint-xs: 26.25rem;    /* 420px */
  --breakpoint-fhd: 114rem;     /* 1824px */
  --breakpoint-qhd: 152rem;     /* 2432px */
  --breakpoint-qhd-plus: 190rem; /* 3040px */
  --breakpoint-uhd: 228rem;     /* 3648px */

  --shadow-md-res: 0 0.25rem 0.375rem -0.0625rem rgb(0 0 0 / 0.1), 0 0.125rem 0.25rem -0.125rem rgb(0 0 0 / 0.1);
}

@layer base {
  body {
    @apply min-w-[375px] font-inter;
  }
}

@layer components {
  html {
    scrollbar-width: none;
  }
  .scrollbar-gutter-auto {
    scrollbar-gutter: auto !important;
  }
  .scrollbar-custom {
    scrollbar-gutter: stable;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
  }
  .scrollbar-custom:hover {
    scrollbar-color: rgba(127, 127, 127, .75) transparent;
  }
  .scrollbar-custom::-webkit-scrollbar {
    position: absolute;
    width: 0.5rem;
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, .75);
    visibility: hidden;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, .75);
  }
  .scrollbar-custom:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }
}
